.App {
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color:#14bdac;
}
/* .playerSelectBtn{
 border: 1px solid rgb(62 72 82 / 50%);
 font-size: larger;
 color: rgb(84, 84, 84);
} */

.btnSelect {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  margin: 20px;
}

.tictac {
  width: 500px;
  height: 400px;
  margin: 15px auto;
  border: 1px solid #964545;
}

.message{
  font-weight: 700;
  color:#14bdac;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: rgb(84, 84, 84);
  border: 3px solid #229b8a;
  height: 50px;
  cursor: pointer;
}